<div *ngIf="experience" class="flex lg:justify-content-center mb-5">
  <ng-container *ngIf="imageLeft === true">
    <div class="py-3 pr-8 pl-3 w-30rem hidden lg:block">
      <img
        [src]="experience.logo"
        alt="logo failed to load"
        class="w-full mr-8"
      />
    </div>
    <div class="flex flex-column align-items-center w-2rem">
      <span
        class="bg-blue-500 text-0 flex align-items-center justify-content-center border-circle"
        style="min-width: 2.5rem; min-height: 2.5rem"
        >{{index}}</span
      >
      <div
        class="h-full bg-blue-500"
        style="width: 2px; min-height: 4rem"
      ></div>
    </div>
  </ng-container>
  <div class="py-3 pl-5 lg:pl-8 pl-3 lg:w-30rem">
    <div class="text-900 text-xl mb-2 font-medium">
      {{ experience.company | titlecase }}
    </div>
    <span class="block text-700 line-height-3 mb-3">
      {{ experience.position | titlecase }}<br />
      <span
        >{{ experience.startDate | date }} to
        {{ experience.endDate | date }}</span
      >
    </span>
    <div class="pt-3 border-top-1 border-300">
      <div class="mb-2 line-height-3">
        <span class="text-900 font-medium">
          {{ experience.description }}
        </span>
      </div>
      <div class="line-height-3">
        <ul>
          <li *ngFor="let task of experience.tasks">
            <span class="text-900 font-medium">
              {{ task }}
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <ng-container *ngIf="imageLeft === false">
    <div
      class="flex flex-column align-items-center w-2rem flex-order-0 lg:flex-order-1"
    >
      <span
        class="bg-yellow-500 text-0 flex align-items-center justify-content-center border-circle"
        style="min-width: 2.5rem; min-height: 2.5rem"
        >{{index}}</span
      >
      <div
        class="h-full bg-yellow-500"
        style="width: 2px; min-height: 4rem"
      ></div>
    </div>
    <div class="py-3 pl-8 pr-3 w-30rem hidden lg:block flex-order-2">
      <img
        [src]="experience.logo"
        alt="logo did not load"
        class="w-full mr-8"
      />
    </div>
  </ng-container>
</div>
